div button.taskitem {
	display: inline-block;
	width: 25%;
	height: 2.5vw;
	margin: 5px 0;
	
	font-weight: bold;
	font-size: 1.5vw;
	text-align: left;

	border: 2px solid black;
	border-radius: 10px;
}

div button.taskitem:hover {
	background-color: #ccc;
	
	border-color: red;
}

div button.removetask {
	display: inline-block;
	width: 3%;
	margin: 5px 1%;

	font-size: 1.5vw;
	text-align: center;

	color: red;
	background-color: #ccc;
}

div button.removetask:hover {
	background-color: #aaa;
}

div button.edittask {
	display: inline-block;
	width: 5%;
	margin: 5px 1% 5px 0;

	font-size: 1.5vw;
	text-align: center;

	color: black;
	background-color: #ccc;
}

div button.edittask:hover {
	background-color: #aaa;
}

form input {
	margin: 0 5px;
}

form p {
	display: inline-block;
}

div div p {
	display: inline-block;
	width: 63%;

	font-size: 1.5vw;
}

body{
	background-color: #fef8e6;
}

h1{
	text-align: center;
	text-transform: uppercase;
	background-color: lightgray;
}
p{
	text-align: center;
	text-transform: uppercase;
}